body {
  font-family: "Cormorant Garamond";
}

.vertical-center {
  display: flex;
  align-items: center;
}

h2 {
  text-align: center;
}

.section {
  margin-top: 8rem;
}

#contact {
  margin-bottom: 8rem;
}

.intro {
  margin-top: 4rem;
}
